name: Continuous Streaming

on:
  push:
    branches:
      - main

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Start ffmpeg stream
        run: |
          chmod +x ssh.sh
          ./ssh.sh
